@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 768px) {
  .hero-tagline h1 {
    line-height: 52px;
  }

  .hero-tagline p {
    margin-bottom: 40px;
  }
  
  .img-hero {
    height: auto;
    width: 75%;
  }

  .button-lg-primary {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }

  h2 {
    font-size: 38px !important;
  }

  .sub-title {
    font-size: 1rem;
  }

  .card-layanan {
    margin: 20px 0;
  }

  #search h2 {
    font-weight: 600;
    line-height: 50px;
  }

  #search p {
    font-size: 18px;
    line-height: 26px;
  } 

  
}

@media screen and (max-width: 480px) {
  #search h2 {
    font-weight: 600;
    line-height: 48px;
  }

  #search p {
    font-size: 16px;
    line-height: 24px;
  } 
}