/* Laptop, desktop */
@media screen and (max-width: 1024px) {
  .hero-tagline h1 {
    font-size: 42px;
    line-height: 50px;
  }

  .img-hero {
    width: 70%;
    height: auto;
  }

  .button-lg-primary {
    width: 80%;
    font-size: 1.080rem;
  }

  .search-input .button-dropdown-search {
    font-size: 13px;
    border-radius: 0 0 0 0;
    display: block;
    width: 20%;
  }

  .search-input .button-dropdown-search img {
    width: 24px;
    background-size: cover;
  }

  .search-input .form-control {
    border: none;
  }

  .search-input input::placeholder {
    font-size: 15px;
  }

  .search-input .button-search {
    width: 100%;
    display: block;
  }

  .search-input .button-search img {
    width: 38px;
    background-size: cover;
  }

  .nav-tabs .nav-link.active {
    border-radius: 0 0 0 0;
  }

  .card-layanan {
    margin: 20px 0;
  }

  #fitur .button-fitur {
    width: 100%;
    margin-bottom: 20px;
  }

  #kontak h3 {
    line-height: 50px;
    font-size: 2rem;
    width: 100%;
  }

  .card-kontak {
    width: 100%;
    height: auto;
    padding: 68px 28px;
  }
  
  .card-kontak h2 {
    font-size: 32px;
    line-height: 42px;
  }

  .card-kontak .form-floating label {
    font-size: 14px;
    line-height: 18px;
  }

  footer .col-md-5 a {
    font-size: 16px;
  }
}

/* Normal Smartphone, tablet, notebook */
@media screen and (max-width: 768px) {
  .hero-tagline h1 {
    line-height: 52px;
  }

  .hero-tagline p {
    margin-bottom: 40px;
  }
  
  .img-hero {
    height: auto;
    width: 75%;
  }

  .button-lg-primary {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }

  h2 {
    font-size: 38px !important;
  }

  .sub-title {
    font-size: 1rem;
  }

  .card-layanan {
    margin: 20px 0;
  }

  #search h2 {
    font-weight: 600;
    line-height: 50px;
  }

  #search p {
    font-size: 18px;
    line-height: 26px;
  } 

  .search-input .button-dropdown-search {
    font-size: 14px;
    width: 50%;
    height: 60px;
    border-radius: 0 0 0 0;
  }

  .search-input .button-search {
    width: 25%;
    height: 60px;
  }

  .search-input .button-search img {
    width: 30px;
  }

  .search-input .form-control {
    height: 60px;
    border: none;
  }

  .search-input input::placeholder {
    font-size: 13px;
  }

  #kontak {
    margin-top: 80px;
    height: 134vh;
  }
  
  .card-kontak {
    margin-top: 32px;
    height: 480px;
    background-color: white;
    border-radius: 8px;
    padding: 68px 48px;
  }

  .card-kontak .form-floating label {
    font-size: 16px;
    line-height: 18px;
  }
}

/* Small Smartphone */
@media screen and (max-width: 480px) {
  #search h2 {
    font-weight: 600;
    line-height: 48px;
  }

  #search p {
    font-size: 16px;
    line-height: 24px;
  } 

  footer {
    height: 400px;
  }
}