:root {
  --main-color: #00985B;
  --default-color: #E8FFF6;
  --pr-color: #20C080;
}

body {
  background-color: var(--default-color);
  font-family: 'Poppins', sans-serif;
}

/* Navbar Style */

.navbar {
  z-index: 3;
}

* {
  z-index: 2;
}

.navbar {
  padding-top: 25px;
}

.navbar-brand {
  font-weight: 700;
  font-size: 20px;
}

.nav-item .nav-link {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-link.active {
  font-weight: 700;
}

.button-primary {
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  width: 138px;
  height: 40px;
  border: none;
  color: var(--pr-color);
}

.button-secondary {
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  width: 138px;
  height: 40px;
  border: none;
  color: #fff;
}


/* Hero Style */

#hero {
  background: linear-gradient(160deg, var(--pr-color), #000);
  width: 100%;
  height: 100vh;
}

.hero-tagline h1 {
  font-size: 50px;
  line-height: 72px;
  font-weight: 700;
  color: #fff;
}

.hero-tagline p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 60px;
  margin-top: 20px;
  line-height: 30px;
  width: 85%;
}

.button-lg-primary {
  width: 278px;
  height: 62px;
  color: var(--pr-color);
  background-color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
}

.img-hero {
  height: 100%;
  z-index: 1;
}

.img-accent {
  z-index: 1;
}