:root {
  --main-color: #00985B;
  --default-color: #E8FFF6;
  --pr-color: #20C080;
}

body {
  background-color: var(--default-color);
  font-family: 'Poppins', sans-serif;
}

/* Navbar Style */

.navbar {
  z-index: 3;
}

* {
  z-index: 2;
}

.navbar {
  padding-top: 25px;
}

.navbar-brand {
  font-weight: 700;
  font-size: 20px;
}

.nav-item .nav-link {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-link.active {
  font-weight: 700;
}

.button-primary {
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  width: 138px;
  height: 40px;
  border: none;
  color: var(--main-color);
}

.button-secondary {
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  width: 138px;
  height: 40px;
  border: none;
  color: #fff;
}


/* Hero Style */

#hero {
  background: linear-gradient(160deg, var(--main-color), #000);
  width: 100%;
  height: 100vh;
}

.hero-tagline h1 {
  font-size: 50px;
  line-height: 72px;
  font-weight: 700;
  color: #fff;
}

.hero-tagline p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 60px;
  margin-top: 20px;
  line-height: 30px;
  width: 85%;
}

.button-lg-primary {
  width: 278px;
  height: 62px;
  color: var(--main-color);
  background-color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
}

.img-hero {
  height: 100%;
  z-index: 1;
}

.img-accent {
  z-index: 1;
}

/* Layanan Kami style */

#layanan {
  padding: 100px 0;
}

#layanan h2 {
  font-size: 48px;
  font-weight: 600;
  color: var(--main-color);
}

.sub-title {
  font-size: 16px;
  color: #000;
}

.card-layanan {
  width: 100%;
  height: 312px;
  background-color: #fff;
  border-radius: 6px;
  padding: 40px;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
}

.card-layanan h3 {
  font-size: 28px;
  font-weight: 600;
}

.card-layanan h3 {
  transition: all .3s ease-in;
}

.card-layanan p {
  transition: all .3s ease-in;
}

.circle-layanan {
  width: 85px;
  height: 85px;
  background-color: var(--main-color);
  border-radius: 50%;
  transition: all .1s ease-in;
}

.card-layanan:hover {
  background: linear-gradient(160deg, var(--main-color), rgb(15, 15, 15));
  color: #fff;
  transition: all .2s ease-in;
}

/* // when hovering over the card, the circle will change color */
.card-layanan:hover .circle-layanan {
  background-color: #fff;
  border: 2px solid var(--main-color);
}


/* Search style */

#search {
  background-image: url('../img/green-interior.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#search h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0em;
  color: #fff;
}

#search p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  color: #fff;
} 

.search-input {
  height: 80px;
}

.search-input:focus {
  border: none;
}

.search-input .button-dropdown-search {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 500;
  width: 200px;
  height: 80px;
  border: none;
  color: var(--main-color);
  border-radius: 0 0 0 10px;
}

.search-input .button-search {
  width: 100px;
  height: 80px;
  color: #fff;
  background-color: var(--main-color);
  border: none;
}

.nav.nav-tabs {
  border: none;
}

.nav-tabs .nav-link {
  border-radius: 0 0 0 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  text-transform: none;
  font-size: 14px;
  border: none;
}

.nav-tabs .nav-link.active {
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--main-color);
  border-radius: 9px 0 0 0;
  font-weight: 500;
}

/* Rekomendasi Style */

#rekomendasi {
  padding: 80px 0 0 0;
}

#rekomendasi h2 {
  color: var(--main-color);
  font-size: 48px;
  font-weight: 600;
}

#rekomendasi .keterangan-rekomendasi p {
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.card {
  height: 480px;
  width: 95%;
  border: none;
}

.card .text-keterangan-rumah {
  display: block;
  margin-top: -15px;
  font-weight: 700;
}

.card-body h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  line-height: .9rem;
}

.card-body p {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.card:hover {
  background: linear-gradient(170deg, var(--main-color), #007245, rgba(0, 0, 0, 0.965));
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transition: all ease-in-out 3s;
}

.card:hover .card-body h4 {
  color: #fff;
  transition: all ease-in-out .5s;
}

.card:hover .card-body p {
  color: #fff;
  transition: all ease-in-out .5s;
}

.card-fasilitas {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 10px;
  background-color: #fff;
}

.card-fasilitas span {
  font-size: 14px;
  margin-top: 18px;
  font-weight: 500;
  color: #000;
}

.card-fasilitas p {
  font-size: 12px;
  color: #000;
}


/* Fitur Style */
#fitur {
  padding: 80px 0 80px 0;
}

#fitur h2 {
  font-size: 48px;
  font-weight: 600;
  color: var(--main-color);
}

#fitur .button-fitur {
  width: 226px;
  height: 60px;
  background-color: var(--main-color);
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  border: none;
}

.card-fitur h5 {
  font-size: 34px;
  color: #fff;
  font-weight: 600;
}

.card-fitur span {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
}

.card-fitur h6 {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}

.card-fitur button {
  border: none;
  width: 150px;
  height: 45px;
  background-color: var(--main-color);
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.card-fitur .overlay {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: all ease-in-out .3s;
}

.card-fitur .overlay:hover {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.card-fitur .fitur-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}